.messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  flex-direction: column;
  display: flex;
  align-items: center;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 10px;

  &.bot {
    align-self: flex-start;
    background-color: #eeeeee;
  }

  &.user {
    align-self: flex-end;
    background-color: #323232;
    color: #ffffff;
  }

  &.error {
    background-color: #ffc3c3;
    color: #a10000;
  }

  * {
    width: 100%;
  }
}