.container {
  padding: 20px;
  max-width: 800px;
  margin: 66px auto;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.chatList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}